FormGenerator/SampleData/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="creditor" type="xs:string" />
        <xs:element name="amount" type="xs:decimal" />
        <xs:element name="currency" type="xs:string" default="USD" />
        <xs:element name="executionDate" type="xs:date" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
